/* start global rules  */
:root{
    --main-color:#1BAB78;
    --main-color-hover:#3CDB7D;
    --color-black:#171717;
    --color-gray:#D9D9D9;
    --color-white:#FFFFFF;
    --main-transition:0.3s;
    --main-padding:100px;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
a{
    color:var(--color-black);
    text-decoration: none;
    font-weight: 500;
    position: relative;
    letter-spacing: 1px;
}
body{
    font-family: 'Cairo', sans-serif;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.contanier{
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;
}
/* small */
/* @media (min-width:768px){
    .contanier{
        width:750px;
    } 
} */
/* medium */
/* @media (min-width:992px){
    .contanier{
        width:970px;
    }  
} */
/* large */
/* @media (min-width:1200px){
    .contanier{
        width:1000px;
    }
} */
/* end global rules  */

/* start Header */
header{
    position: relative;
    padding: 10px;
    margin-top: -8px;
    z-index: 999;
    margin-left: 10px;

}
header .contanier{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
header .contanier .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    color: var(--main-color);
    font-weight: 950;
    letter-spacing: 4px;
}
header .contanier ul{
    display: flex;
    margin-left: 100px;
}
header .contanier ul li a{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
    font-size: 16px;
    letter-spacing: 3px;
    font-weight: bold;
    color: var(--color-white);
    transition: var(--main-transition) ease-in-out;
}
header .contanier ul li a:hover{
    color: var(--main-color);
}
header .contanier .search{
    display: flex;
    justify-content:center;
    align-items: center;
}
header .contanier .search form,.drop_menu form{
    position: relative;
    margin-right: 10px;
}
header .contanier .search form input,.drop_menu form input{
    border: 1px solid var(--color-white);
    background-color: transparent;
    width: 270px;
    height: 25px;
    border-radius: 10px;
    padding-left: 5px;
    font-size: 15px;
    
}
header .contanier .search form input:focus,.drop_menu form input:focus{
    outline: none;
    color:var(--color-white);
}
header .contanier .search form i,.drop_menu form i{
    position: absolute;
    right: 10px;
    top: 25%;
    color: var(--main-color);
    display: block;
}
header .contanier .search .login,.drop_menu .login{
    font-size: 18px;
    font-weight: bold;
    color: var(--color-white);
    margin: 0 10px;
    transition: var(--main-transition)ease-in-out;
}
header .contanier .search .login i,.drop_menu .login i{
    font-size: 18px;
    font-weight: bold;
    margin-right: 5px;
    color: var(--main-color);
    transition: var(--main-transition) ease-in-out;
}
header .contanier .search .login:hover,.drop_menu .login:hover{
    color: var(--main-color);
    i{
        color: var(--color-white);
    }
}
header .contanier .search .signup{
    font-size: 16px;
    font-weight: bold;
    color: var(--color-white);
    background-color: var(--main-color);
    padding: 3px 20px;
    border-radius: 15px;
    letter-spacing: 2px;
    border: 1px solid var(--main-color);
    transition: var(--main-transition)ease-in-out;
}
header .contanier .search .signup:hover{
    color: var(--main-color);
    background-color: transparent;
}
header .contanier .toggle_btn{
    font-size: 25px;
    color: var(--color-white);
    cursor: pointer;
}
header .drop_menu{
    position: absolute;
    right: 40px;
    top: 55px;
    opacity: 0;
    width: 170px;
    background-color:#353935;
    border-radius: 10px;
}
.drop_menu.open{
    opacity: 1;
}
header .drop_menu ul{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
header .drop_menu ul li a{
    font-size: 16px;
    letter-spacing: 3px;
    font-weight: bold;
    color: var(--color-white);
    transition: var(--main-transition) ease-in-out;
}
header .drop_menu ul li a:hover{
    color: var(--main-color);
}
.drop_menu form input{
    width: 100%;
}
header .drop_menu ul li .signup{
    font-size: 16px;
    font-weight: bold;
    color: var(--color-white);
    background-color: var(--main-color);
    padding: 0px 30px;
    border-radius: 15px;
    letter-spacing: 2px;
    border: 1px solid var(--main-color);
    transition: var(--main-transition)ease-in-out;
}
header .drop_menu ul li .signup:hover{
    color: var(--main-color);
    background-color: transparent;
}
/* responsive header */

/* medium */
@media (max-width:1200px){
    header .contanier ul,
    .search .signup,
    .search .login,
    .search form{
        display: none;
    }
    .toggle_btn{
        display: block;
    }
    .drop_menu{
        display: block;
    }
    
}
/* large */
@media (min-width:1200px){
    .toggle_btn,
    .drop_menu{
        display: none;
    }
    
}
/* end Header */
/* start landing */
.landing{
    position: relative;
    top: -65px;
    z-index: 1;
}
.landing .box{
    /* position: absolute; */
    left: 0;
    right: 0;
    top: 0;
    display: flex;
    transition:1s;
    overflow: hidden;
}
.landing .box .land{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.landing .box img{
    width: 100vw;
    height: 100vh;
}
.landing .box .text{
    position: absolute;
    left: 13%;
    margin-top: -50px;
    cursor: pointer;
}
.landing .box .text h3{
    color: var(--main-color-hover);
    font-size: 40px;
    font-weight: 950;
    letter-spacing: 10px;
}
.landing .box .text p{
    color: var(--color-white);
    font-size: 40px;
    font-weight: 950;
    letter-spacing: 10px;
    margin-bottom: 20px;
}
.landing .box .text a{
    border: 2px solid var(--color-white);
    padding: 0px 20px;
    color: var(--color-white);
    border-radius: 10px;
    font-size: 20px;
    font-weight: 650;
    margin-top: 10px;
    transition: var(--main-transition) ease-in-out;
}
.landing .box .text a i{
    color: var(--main-color-hover);
    font-weight: 950;
    margin-left: 10px;
    transition: var(--main-transition) ease-in-out;
}
.landing .box .text a:hover i{
    color: var(--main-color);
}
.landing .circle{
    position:absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%,-50%);
}
.landing .circle span{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid var(--color-white);
    margin-right: 7px; 
    /* transition: 2s */
}
.landing  .circle span.active{
    background-color: var(--main-color-hover);
    border: 1px solid var(--main-color-hover);
}

.buttons{
    display: none;
}
/* end landing */
/* start search */
/* .search{
    overflow: hidden;
} */
.search .contanier{
    background-color: transparent;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    border: 2px solid #eceae4;
    border-radius: 30px;
    left: 15%;
    padding: 15px;
    box-shadow:rgba(0, 0, 0, 0.35) 0px 5px 15px;
    /* width: max-content; */
}
.search .contanier .section{
    border: 1px solid var(--main-color);
    padding: 5px 15px;
    border-radius: 10px;
    font-size: 17px;
    font-weight: bold;
    color: var(--color-black);
    letter-spacing: 3px;
}
.search .contanier .section i{
    color: var(--main-color);
    font-weight: 800;
}
.search .contanier .section input{
    font-weight: bolder;
    border: none;
}
.search .contanier .section input:focus{
    outline: none;
}
.search .contanier .section label{
    opacity: .6;
    font-weight: bolder;
}
.search .contanier .icon i{
    border: 1px solid var(--main-color);
    background-color: var(--main-color);
    color: var(--color-white);
    padding: 10px 40px;
    border-radius: 10px;
    transition: var(--main-transition) ease-in-out;
}
.search .contanier .icon i:hover{
    background-color: transparent;
    color: var(--main-color);
}

 /*  responsive search*/
/* medium */
@media (max-width:1200px){
    .search{
        display: none;
    }
}
/* end search */
/* start services */
.services{
    position: relative;
    margin-top: 200px;

}
.services .head{
    width: fit-content;
    margin: 80px auto ;
    text-align: center;
    font-size: 35px;
    color: var(--color-black);
    letter-spacing: 3px;
    font-weight: 950;
    position: relative;
}
.services .contanier{
    width: 99%;
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.services .contanier .more{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.services .contanier .more .para{
    font-size: 18px;
    font-weight: 950;
    letter-spacing: 2px;
    color: var(--main-color);
    border-bottom: 1px solid #eceae4;

}
.services .contanier .more .para i{
    margin-right: 5px;
}
.services .contanier .more a{
    font-size: 18px;
    font-weight: bolder;
    letter-spacing: 3px;
    text-transform: uppercase;
    padding: 2px 10px;
     border-radius: 10px;
    color: var(--color-white);
    background-color: var(--main-color);
    border: 1px solid var(--main-color);
    transition: var(--main-transition) ease-in-out;
}
.services .contanier .more a:hover{
    background-color: transparent;
    color: var(--main-color);
}
.services .contanier .mainboxs {
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(230px,1fr));
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 40px;
    /* margin-left: 30px; */
}
.services .contanier .mainboxs .box{
    position: relative;
    border-radius: 15px;
    overflow: hidden;
    box-shadow:rgba(0, 0, 0, 0.35) 0px 5px 15px;

}
.services .contanier .mainboxs .box .content img{
    width: 100%;
    height: 270px;
    border-radius: 15px 15px 0 0 ;
}
.services .contanier .mainboxs .box .content .title span{
    position: absolute;
    right: -34px;
    top: 34px;
    padding-left: 10px;
    width: 120px;
    color: var(--color-white);
    background-color: var(--main-color);
    border-radius: 5px;
    font-size: 16px;
    font-weight: 650;
    letter-spacing: 3px;
    text-align: center;
    transform: rotate(90deg);
    overflow: hidden;
}
.services .contanier .mainboxs .box .content .info{
    display: flex;
    justify-content: space-between;
    margin: 5px 5px 20px 5px;
}
.services .contanier .mainboxs .box .content .info .one p{
    font-size: 16px;
    letter-spacing: 2px;
    font-weight: 650;
}
.services .contanier .mainboxs .box .content .info .one span{
    font-weight: 800;
    font-size: 16px;
    margin-right: 2px;
}

.services .contanier .mainboxs .box .content .info i{
    color: var(--main-color);
    margin-right: 3px;
    width: max-content;
}
.services .contanier .mainboxs .box .content a{
    font-size: 16px;
    font-weight: 650;
    letter-spacing: 2px;
    padding: 0px 15px;
    background-color: var(--main-color);
    color: var(--color-white);
    border-radius: 10px;
    border: 1px solid var(--main-color);
    transition: var(--main-transition) ease-in-out; 
    display: block;
    text-align: center;
    width: 60%;
    margin-left: 20%;
    margin-bottom: 15px;

}
.services .contanier .mainboxs .box .content a:hover{
    color: var(--main-color);
    background-color: transparent;
}
/* end services */